<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>
    <link rel="stylesheet" href="../css/details.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- Esto se usa para que cuando se guarde los datos, se muestre una alerta "bonita"-->
    <script type="module" src="../js/detail.js" defer></script> <!-- IMPORTANTE REVISAR. Toca revisar el javascript
                                                     que se está importanto porque puede ser que estemos trayendo el que no es. -->
</head>
<body>
    <main class="main">
        <section id="main__section__gallery" class="main__section">
            <!-- <article class="article__product">
                <div class="product__image">
                    <img src="../storage/img/solair.png" alt="">
                </div>
                <div class="product__menu">
                    <a href="../index.html"><img src="../storage/img/back.svg" alt=""></a>         
                    <img src="../storage/img/heart.svg" alt="">
                </div>
            </article> -->
        </section>
        <section id="main__section__title" class="main__section">
            <!-- <article class="article__detail">
                <div class="detail__head">
                    <h1>Hoodie of Solair armor</h1>
                    <div class="product__select">
                        <img src="../storage/img/minus.svg" alt="">
                        <span>1</span>
                        <img src="../storage/img/plus.svg" alt="">
                    </div>
                </div>
                <div class="detail__score">
                    <img src="../storage/img/star.svg" alt="">         
                    <img src="../storage/img/star.svg" alt="">
                    <img src="../storage/img/star.svg" alt="">
                    <img src="../storage/img/star.svg" alt="">
                    <span>5.0</span>
                    <a href="#">(7.932 reviews)</a>
                </div>
            </article> -->
        </section>
        <section class="main__section">
            <article class="product__information">
                <!-- <p>Feel like your favorite character from
                    Dark Souls Remastered with this
                    hoodie.<strong>Read More. . .</strong></p> -->
                    <hr>
            </article>
        </section>
        <section class="main__section">
            <article class="product__custom">
                <div class="product__size">
                  <!--  <h5>Chose Size</h5>
                     <div>
                        <img src="../storage/img/s.svg" alt="">
                        <img src="../storage/img/m.svg" alt="">
                        <img src="../storage/img/l.svg" alt="">
                        <img src="../storage/img/xl.svg" alt="">
                    </div> -->
                </div>
                <div class="product__color">
                    <!-- <h5>Color</h5>
                    <div>
                        <img src="../storage/img/1.svg" alt="">
                        <img src="../storage/img/2.svg" alt="">
                        <img src="../storage/img/3.svg" alt="">
                    </div> -->
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <ul class="footer__ul">
            <!-- <li>
                <a href="checkout.html">
                    <img src="../storage/img/shopping-cart.svg">
                    <span>Add to Cart | $100.99 <del><sub>$190.99</sub></del></span>
                </a>
            </li> -->
        </ul>
    </footer>
</body>
</html>