<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wish List</title>
    <link rel="stylesheet" href="../css/wishlist.css">
    <script type="module" src="../js/wishlist.js" defer></script>
</head>

<body>
    <header class="header">
        <nav class="header__nav">
            <div>
                <a href="detail.html">
                    <img src="../storage/img/back.svg">
                </a>
            </div>
            <div>Wish List</div>
            <div>
                <img src="../storage/img/sidebar.svg" alt="" srcset="">
            </div>
        </nav>
    </header>
    <main class="main">
        <section class="checkout__details">
            <article class="details__product">
                <div class="product__custom">
                    <a href="#">
                        <div class="product__select">
                            <img src="../storage/img/heartWhite.svg">
                        </div>
                    </a>
                </div>
                <div class="product__imagen">
                    <img src="../storage/img/album.png">
                </div>
                <div class="product__description">
                    <h3>Vinil Album The Weeknd</h3>
                    <small>Music</small>
                </div>
                <div class="product__custom">
                    <a href="checkout.html">
                        <div class="product__select">
                            <img src="../storage/img/shopping-cart.svg">
                        </div>
                    </a>
                </div>
            </article>
            <article class="details__product">
                <div class="product__custom">
                    <a href="#">
                        <div class="product__select">
                            <img src="../storage/img/heartWhite.svg">
                        </div>
                    </a>
                </div>
                <div class="product__imagen">
                    <img src="../storage/img/solair.png">
                </div>
                <div class="product__description">
                    <h3>Hoodie of Solair armor</h3>
                    <small>Hoodie</small>
                </div>
                <div class="product__custom">
                    <a href="checkout.html">
                        <div class="product__select">
                            <img src="../storage/img/shopping-cart.svg">
                        </div>
                    </a>
                </div>
                </div>
            </article>
            <article class="details__product">
                <div class="product__custom">
                    <a href="#">
                        <div class="product__select">
                            <img src="../storage/img/heartWhite.svg">
                        </div>
                    </a>
                </div>
                <div class="product__imagen">
                    <img src="../storage/img/mandotlou.png">
                </div>
                <div class="product__description">
                    <h3>Wireless Control of PS4</h3>
                    <small>Gaming</small>
                    <span>$212.99</span>
                </div>
                <div class="product__custom">
                    <a href="checkout.html">
                        <div class="product__select">
                            <img src="../storage/img/shopping-cart.svg">
                        </div>
                    </a>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="../index.html">
                    <img src="../storage/img/home.svg" alt="">
                </a>
            </li>
            <li>
                <a href="../views/checkout.html">
                    <img src="../storage/img/bag.svg">
                </a>
            </li>
            <li>
                <a href="../views/wishlist.html">
                    <img src="../storage/img/heart.svg">
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <img src="../storage/img/profile.svg">
                </a>
            </li>

        </ul>
    </footer>
</body>

</html>